body{
  background-color: rgb(23, 207, 189);
}

.textjalan{
  font-size: 30px;
  color: royalblue;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.ziejalan{
  color: yellow;

}
  
.gambar{
  padding-top: 0%;
  border-radius:50%;
  overflow: hidden;
  border: 4px solid yellow;
  text-align: left;
}

.navigator {
  text-align: right;
  font-weight: bold;
}

.nav-butt {
  background-color: #00C03F ;
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  align-content: center;
  font-size: 20px;
  margin: 30px;
  cursor: pointer;
  font-weight: bold;
}
.pulsa1{
  color: yellow;
  margin-block-end: auto;
  margin-top: 20px;
  margin-left: 8px;
  border-inline-end: white;
}

h1.tittle{
  text-align: center;
  margin:auto;
}
  .web-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
.card:hover {
    transform: scale(1.1);
}
  
  .price {
    color: white;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .produk1{
    width: 512px;
    height:225px;
  }